@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
body{
    background-image: url("img/tri1.jpg");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: 100vw;
}

.header{
    text-align: center;
    margin-top: 5rem;
    
}
.goBack{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    outline: none;
}
.goBack:hover{
    background-color: lightblue;
}

.desc{
    margin: 3rem auto 2rem auto;
    text-align: center;
    font-size: 2rem;
    font-family: 'Inconsolata', monospace;
}

input{
    border-radius: 1rem;
    width: 10rem;
    height: 2rem;
    margin: 0.5rem;
    outline: none;
    font-family: 'Inconsolata', monospace;
    background-color: turquoise;
}

.input{
    text-align: center;
}

.but{
    text-align: center;
    margin: 00.5rem;
    font-family: 'Inconsolata', monospace;
    
}

.b{
    width: 8rem;
    height: 3rem;
    background-color: turquoise;
    border: 1px solid teal;
}

.b:hover{
    background-color: teal;
}

.oup{
    text-align: center;
    font-size: 3rem;
    font-family: 'Inconsolata', monospace;
    color: teal;
}

